// importing core styling file

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #111;
}
li {
    margin-bottom: 10px;
}
.item-container {
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.item-image {
    height: 200px;
    margin-bottom: 10px;
}
.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
//course detail
.course-detail_layout {
    .sidebar {
        display: flex;
    }
}
// .delete-item_selected
// {
//     visibility:hidden;
// }
